:root {
    // beige & brown
    --col-beige-dark: hsl(60, 17%, 80%);
    --col-beige-mid: hsl(45, 57%, 88%);
    --col-beige-light: hsl(40, 60%, 95%);
    --col-brown-mid: hsl(32, 11%, 23%);

    // grays
    --col-black-dark: hsl(34, 7%, 19%);
    --col-black-light: hsl(33, 14%, 25%);
    --col-grey-dark: hsl(200, 6%, 42%);
    --col-grey-light: hsl(200, 8%, 70%);
    --col-offwhite: hsl(60, 17%, 91%);
    --col-white: hsl(0, 0%, 100%);

    // olive
    --col-olive-extra-dark: hsl(60, 15%, 33%);
    --col-olive-dark: hsl(60, 17%, 48%);
    --col-olive-mid: hsl(60, 18%, 69%);
    --col-olive-light: hsl(60, 20%, 74%);
}
