// font imports

@font-face {
    font-family: "big-daily-short";
    src: url("../../dist/fonts/BigDailyShort-LightItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "clash-display";
    src: url("../../dist/fonts/ClashDisplay-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "surt";
    src: url("../../dist/fonts/Surt-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
