// font imports

@font-face {
    font-family: "big-daily-short";
    src: url("../../fonts/BigDailyShort-LightItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "clash-display";
    src: url("../../dist/fonts/ClashDisplay-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
