.contact {
    padding-bottom: var(--space-xxl);
    display: flex;
    justify-content: center;
    background-image: url("../../dist/images/homepage/desja-banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: flex-end;

    &__card {
        width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: var(--space-xl);
        background-color: var(--col-beige-light);
        height: 80%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-xxxl);
        }
    }
}
