.highlighted {
    padding-bottom: 0 !important;
    margin-bottom: var(--space-xxl) !important;

    &__product {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__product-title {
        display: flex;
        gap: var(--space-xl);
        margin-bottom: var(--space-sm);
    }

    &__product-banner {
        flex: 1;
    }
}
