.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__images {
        margin-block: var(--space-md);
        display: flex;
        justify-content: center;
        gap: var(--space-sm);
        height: 35vh;
    }

    &__image {
        position: relative;

        span {
            position: absolute;
            background-color: var(--col-offwhite);
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }

        img {
            height: 100%;
        }
    }

    &__footnote {
        display: flex;
        align-items: center;
        gap: var(--space-xl);
    }

    &__footnote-divider {
        height: 1px;
        width: 20rem;
        background-color: var(--col-brown-mid);
    }
}
