.studio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../dist/images/about/studio-backdrop.jpg");
    display: flex;
    justify-content: center;
    padding-block: calc(var(--space-xxxl) * 3) calc(var(--space-xxxl) * 2);

    &__card {
        background-color: var(--col-beige-light);
        display: flex;
        flex-direction: column;
        gap: calc(var(--space-xxxl) * 2);
        align-items: center;
        max-width: 49rem;
        text-align: center;
        padding: var(--space-xxxl) var(--space-xxxl) var(--space-xl);
    }

    &__card-img {
        position: relative;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 70%;
            margin-block: -3.5rem;
        }

        span {
            z-index: 10;
        }
    }
}
