.container {
    margin: 0 auto;
    max-width: 100rem;
    padding: var(--space-xl);

    &--no-padding {
        padding: 0;
    }

    &--full-width {
        max-width: 100%;
    }

    &--fit-viewportheight {
        height: 100vh;
        overflow: hidden;
    }
}
