.container {
    margin: 0 auto;
    max-width: 100rem;

    &--padding {
        padding: var(--space-xl);
    }

    &--full-width {
        max-width: 100%;
    }

    &--fit-viewportheight {
        height: 100vh;
        overflow: hidden;
    }
}
